head 
    link(type="text/css" rel="stylesheet" href="./src/style.css")
    link(rel="icon" href="./res/icon.png" type="image/x-icon")
    link(rel="favicon" href="./res/icon.png" type="image/x-icon")
    title Approval Table Tool
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:ttl" content="60000")
    meta(property="og:site_name" content="polcompballvalues.github.io/approval")
    meta(property="og:title" content="Polcompball Approval")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Approval system for r/polcompball comics ")
    meta(property="og:url" content="https://polcompballvalues.github.io/approval")
    meta(property="og:image" content="https://polcompballvalues.github.io/approval/res/previcon.jpg")
    meta(property="og:image:width" content="626")
    meta(property="og:image:height" content="626")
    meta(name="theme-color" content="#34154d" data-react-helmet="true")