@import url('https://fonts.googleapis.com/css2?family=Sarabun&family=Source+Code+Pro&display=swap');

html {
    font-family: 'Sarabun', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #34154d rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #180924;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #34154d;
    width: 8px;
    background-color: #34154d;
    border-radius: 20px;
}

body {
    background-image: url("../res/Site-background.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

div.table-block {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px #180924;
}

pre {
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    display: none;
    margin: auto;
    background-color: #1d1b1b;
    color: #FFF;
    padding: 30px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

label {
    display: block;
    margin: auto;
    text-align: center;
}

fieldset, .check-container {
    width: 50%;
    min-width: 800px;
    display: block;
    margin: 0 auto;
    border: none;
    text-align: center;
}

input.range {
    -webkit-appearance: none;
    appearance: none;
    bottom: -10px;
    position: relative;
    width: 100%;
    margin: 10px;
    padding: 0px;
    margin-left: 5px;
    border: 0;
    align-items: center;
    opacity: 0.7;
    border-radius: 10px;
    z-index: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: blueviolet;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
}

.range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: blueviolet;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
}

.range-label {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px #180924;
}

.check-block {
    vertical-align: top;
    width: 32%;
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    height: 72px;
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

.check-block:hover {
    background-color: #ddd;
}

input[type="checkbox"] {
    padding: 10px;
}

svg {
    padding: 0px;
    padding-left: 5px;
    color: white;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    z-index: -1;
}

.range-point,
.range-tick {
    fill: white;
}

#calc-button {
    font-family: inherit;
    background-color: blueviolet;
    color: white;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.7;
}

#calc-button:hover {
    opacity: 1;
}

#approve-text {
    font-size: 32px;
    text-shadow: 2px 2px #180924;
}

@media screen and (max-width: 900px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
        background-size: auto auto;
    }
    h1 {
        text-shadow: 0.5vw 0.5vw black;
    }
    .range-label {
        text-shadow: 0.5vw 0.5vw black;
    }
    label {
        font-size: 3.5vw;
        margin-top: 2vw;
    }
    input.range {
        width: 100%;
        margin: 0px auto;
        margin-left: 0px;
        opacity: 0.9;
        z-index: 1;
    }
    svg {
        width: 98%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    fieldset, .check-container {
        width: 90vw;
        min-width: 90vw;
        margin: 2vw auto;
        padding: 1vw;
    }
    .check-block {
        width: 45%;
        height: 20vw;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .table-block {
        width: 100%;
    }
    #final-table {
        font-size: 3vw;
        margin: auto;
        max-width: 90%;
        padding: 3vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        overflow: hidden;
    }
    #approve-text {
        font-size: 10vw;
        text-shadow: 0.5vw 0.5vw #180924;
        margin-bottom: 3vw;
        margin-top: 0vw;
    }
}